#nav{
    background-color: #e3c998;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#listInnerContainer{
    display: flex;
    justify-content: space-between;

}
.list{
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}